# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Deployment files in parent directory #
.env
docker-compose.yml
Dockerfile
requirements.txt
app/entrypoint.sh

# Backup files # 
*.bak 

# Migrations #
app/*/migrations/*.py
!app/*/migrations/__init__.py
!app/questgiver/migrations/000_admin.py
!app/dtd_request/migrations/0001_initial.py
!app/dtd_request/migrations/0002_response_note.py
!app/dtd_request/migrations/0003_phone_regex.py
!app/dtd_calls/migrations/0001_initial.py
!app/dtd_calls/migrations/0002_phone_regex.py
!app/dtd_calls/migrations/0003_call_call_type.py
!app/dtd_calls/migrations/0004_call_demographics_update.py
!app/dtd_calls/migrations/0005_call_update_status.py
!app/dtd_calls/migrations/0006_add_ftp_call_choice.py
!app/dtd_calls/migrations/0007_call_call_source.py

# Static Files #
app/staticfiles/*

# If you are using PyCharm # 
.idea/**/workspace.xml 
.idea/**/tasks.xml 
.idea/dictionaries 
.idea/**/dataSources/ 
.idea/**/dataSources.ids 
.idea/**/dataSources.xml 
.idea/**/dataSources.local.xml 
.idea/**/sqlDataSources.xml 
.idea/**/dynamic.xml 
.idea/**/uiDesigner.xml 
.idea/**/gradle.xml 
.idea/**/libraries 
*.iws /out/ 

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
.history
