{% extends "dtd_request/base.html" %}

{% load static %}

{% block title %}Enter a New Call{% endblock %}

{% block content %}

<div class="container p-2 bg-light">
  <form action="{% url 'dtd_calls:call_create' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        {{ form.non_field_errors }}
      </div>
    </div>
    <div class="row py-2">
      <div class="col-6">
        <div class="form-group">
          {{ form.started_at.label_tag }}
          <div class="input-group">
            <input 
              type="text"
              name="{{ form.started_at.name }}"
              id="{{ form.started_at.id_for_label }}"
              class="form-control"
              placeholder="{{ form.started_at.help_text|safe }}"
              readonly
              required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="setStart">Set</button>
              </div>
          </div>
          <div class="text-danger">
            {{ form.started_at.errors }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{ form.ended_at.label_tag }}
          <div class="input-group">
            <input 
              type="text"
              name="{{ form.ended_at.name }}"
              id="{{ form.ended_at.id_for_label }}"
              class="form-control"
              placeholder="{{ form.ended_at.help_text|safe }}"
              readonly
              required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="setEnd" disabled>Set</button>
              </div>
          </div>
          <div class="text-danger">
            {{ form.ended_at.errors }}
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-6">
        <div class="form-group">
          {{ form.caller_number.label_tag }}
          {{ form.caller_number }}
          <small class="form-text text-muted">{{ form.caller_number.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_number.errors }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{ form.caller_zip.label_tag }}
          {{ form.caller_zip }}
          <small class="form-text text-muted">{{ form.caller_zip.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_zip.errors }}
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-sm-3">
        <div class="form-group">
          {{ form.call_type.label_tag }}
          {{ form.call_type }}
          <div class="text-danger">
            {{ form.call_type.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          {{ form.covid_related.label_tag }}
          {{ form.covid_related }}
          <div class="text-danger">
            {{ form.covid_related.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          {{ form.client_referred.label_tag }}
          {{ form.client_referred }}
          <div class="text-danger">
            {{ form.client_referred.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          {{ form.referral_id.label_tag }}
          {{ form.referral_id }}
          <div class="text-danger">
            {{ form.referral_id.errors }}
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12">
        <div class="form-group">
          {{ form.notes.label_tag }}
          {{ form.notes }}
          <div class="text-danger">
            {{ form.notes.errors }}
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4 text-center">
        <input type="submit" value="Submit Call Information" class="btn btn-primary" id="submitBtn" disabled>
      </div>
    </div>
  </form>
</div>

<script>
  $(function() {
    $("#new-call").addClass("active");
  });

  $("#setStart").click(function(){
    var date_string = moment().format().replace("T", " ").substring(0,19);
    $("#{{ form.started_at.id_for_label }}").val(date_string);
    $("#setStart").prop('disabled', true);
    $("#setEnd").prop('disabled', false);
  });

  $("#setEnd").click(function(){
    var date_string = moment().format().replace("T", " ").substring(0,19);
    $("#{{ form.ended_at.id_for_label }}").val(date_string);
    $("#setEnd").prop('disabled', true);
    $("#submitBtn").prop('disabled', false);
  });

  $(function() {
    $("#{{ form.referral_id.id_for_label }}").prop('readonly', true).prop('required', false);
  });

  $("#{{ form.client_referred.id_for_label }}").on("click", function () { 
    if($(this).prop("checked")==true)
    $("#{{ form.referral_id.id_for_label }}").prop('readonly', false).prop('required', true); 
    else
    $("#{{ form.referral_id.id_for_label }}").prop('readonly', true).prop('required', false);
  });
</script>

{% endblock %}