{% extends "dtd_request/base.html" %}

{% load static %}

{% block title %}Enter a New Call{% endblock %}

{% block content %}

<div class="container p-2 bg-light">
  <form action="{% url 'dtd_calls:call_create' %}" method="post">
    {% csrf_token %}

    
    <!--Non Field Errors-->
    <div class="row">
      <div class="col-12">
        {{ form.non_field_errors }}
      </div>
    </div>

    <!--Row 1, Set Call Start and End-->
    <div class="row py-2">
      <div class="col-6">
        <div class="form-group">
          {{ form.started_at.label_tag }}
          <div class="input-group">
            <input 
              type="text"
              name="{{ form.started_at.name }}"
              id="{{ form.started_at.id_for_label }}"
              class="form-control"
              placeholder="{{ form.started_at.help_text|safe }}"
              readonly
              required>
              <div class="input-group-append">
                <button class="btn btn-success" type="button" id="setStart">Set</button>
              </div>
          </div>
          <div class="text-danger">
            {{ form.started_at.errors }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          {{ form.ended_at.label_tag }}
          <div class="input-group">
            <input 
              type="text"
              name="{{ form.ended_at.name }}"
              id="{{ form.ended_at.id_for_label }}"
              class="form-control"
              placeholder="{{ form.ended_at.help_text|safe }}"
              readonly
              required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="setEnd" disabled>Set</button>
              </div>
          </div>
          <div class="text-danger">
            {{ form.ended_at.errors }}
          </div>
        </div>
      </div>
    </div>

    <!--Row 2, Caller Number, Caller Email Address-->
    <div class="row py-2">
      <div class="col-sm-6">
        <div class="form-group">
          {{ form.caller_number.label_tag }}
          {{ form.caller_number }}
          <small class="form-text text-muted">{{ form.caller_number.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_number.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          {{ form.caller_email.label_tag }}
          {{ form.caller_email }}
          <small class="form-text text-muted">{{ form.caller_email.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_email.errors }}
          </div>
        </div>
      </div>
    </div>

    <!--Row 3, Caller Name, Address-->
    <div class="row py-2">
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.caller_name.label_tag }}
          {{ form.caller_name }}
          <small class="form-text text-muted">{{ form.caller_name.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_name.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="form-group">
          {{ form.caller_address.label_tag }}
          {{ form.caller_address }}
          <small class="form-text text-muted">{{ form.caller_address.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_address.errors }}
          </div>
        </div>
      </div>
    </div>

    <!--Row 4, Caller City, State, Zip-->
    <div class="row py-2">
      <div class="col-sm-6">
        <div class="form-group">
          {{ form.caller_city.label_tag }}
          {{ form.caller_city }}
          <small class="form-text text-muted">{{ form.caller_city.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_city.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          {{ form.caller_state.label_tag }}
          {{ form.caller_state }}
          <small class="form-text text-muted">{{ form.caller_state.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_state.errors }}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          {{ form.caller_zip.label_tag }}
          {{ form.caller_zip }}
          <small class="form-text text-muted">{{ form.caller_zip.help_text|safe }}</small>
          <div class="text-danger">
            {{ form.caller_zip.errors }}
          </div>
        </div>
      </div>
    </div>

    <!--Row 5, Caller DOB, Caller Age, Gender, Household Size-->
    <div class="row py-2">
      <div class="col-sm-3">
        <div class="form-group">
          {{ form.caller_dob.label_tag }}
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            {{ form.caller_dob }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text">
                  <img src="{% static 'dtd_request/icons/svg/calendar.svg' %}" class="img-fluid" style="width:1.5em;height:1.3rem;" alt="Pick Date">
                </div>
            </div>
          </div>
          <div class="text-danger">
            {{ form.caller_dob.errors }}
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          {{ form.caller_age.label_tag }}
          {{ form.caller_age }}
          <div class="text-danger">
            {{ form.caller_age.errors }}
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          {{ form.caller_gender.label_tag }}
          {{ form.caller_gender }}
          <div class="text-danger">
            {{ form.caller_gender.errors }}
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          {{ form.caller_household_size.label_tag }}
          {{ form.caller_household_size }}
          <div class="text-danger">
            {{ form.caller_household_size.errors }}
          </div>
        </div>
      </div>
    </div>

    <!--Row 6, 3 Columns-->
    <div class="row py-2">

      <!--Col1, Call Type, Covid-Related, Client Referred, Referral ID, Referral Agency-->
      <div class="col-sm-3">
        <div class="form-group">
          {{ form.call_type.label_tag }}
          {{ form.call_type }}
          <div class="text-danger">
            {{ form.call_type.errors }}
          </div>
        </div>

        <div class="form-group">
          {{ form.covid_related.label_tag }}
          {{ form.covid_related }}
          <div class="text-danger">
            {{ form.covid_related.errors }}
          </div>
        </div>

        <div class="form-group">
          {{ form.client_referred.label_tag }}
          {{ form.client_referred }}
          <div class="text-danger">
            {{ form.client_referred.errors }}
          </div>
        </div>

        <div class="form-group">
          {{ form.referral_id.label_tag }}
          {{ form.referral_id }}
          <div class="text-danger">
            {{ form.referral_id.errors }}
          </div>
        </div>

        <div class="form-group">
          {{ form.referred_agency.label_tag }}
          {{ form.referred_agency }}
          <div class="text-danger">
            {{ form.referred_agency.errors }}
          </div>
        </div>

        <!-- 'Other' agency option -->
        <div class="form-group">
          <input 
            type="text"
            name="other-agency"
            id="otherAgency"
            class="form-control"
            placeholder="Agency Name"
            hidden>
        </div>
      </div>
      
      <!--Call Domains -->
      <div class="col-sm-4">
        {{ domains.management_form }}
        {% for form in domains.forms %}
          {% if forloop.first %}
            <div class="row">
              <div class="col-12 pb-2">
                Service domains:
              </div>
            </div>
          {% endif %}
          {% for field in form.visible_fields %}
          {% if forloop.first %}{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}{% endif %}
            <div class="row form-row">
              <div class="col-12">
                <div class="input-group mb-3">
                  {{ field }}
                  <div class="input-group-append">
                    <button class="btn btn-success add-form-row" type="button">
                      <img src="{% static 'dtd_request/icons/svg/plus-white.svg' %}" class="img-fluid" style="width:1rem;height:1rem;" alt="Add">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>

      <!-- Call Notes -->
      <div class="col-sm-5">
        <div class="form-group">
          {{ form.notes.label_tag }}
          {{ form.notes }}
          <div class="text-danger">
            {{ form.notes.errors }}
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-4 text-center">
        <input type="submit" value="Submit Call Information" class="btn btn-outline-secondary" id="submitBtn" disabled>
      </div>
    </div>
  </form>
</div>

<!--Script for Setting Call Start/Stop fields-->
<script>
  $(function() {
    $("#new-call").addClass("active");
  });

  $("#setStart").click(function(){
    var date_string = moment().format().replace("T", " ").substring(0,19);
    $("#{{ form.started_at.id_for_label }}").val(date_string);
    $("#setStart").prop('disabled', true)
      .removeClass('btn-success')
      .addClass('btn-outline-secondary');
    $("#setEnd").prop('disabled', false)
      .removeClass('btn-outline-secondary')
      .addClass('btn-success');
  });

  $("#setEnd").click(function(){
    var date_string = moment().format().replace("T", " ").substring(0,19);
    $("#{{ form.ended_at.id_for_label }}").val(date_string);
    $("#setEnd").prop('disabled', true)
      .removeClass('btn-success')
      .addClass('btn-outline-secondary');
    $("#submitBtn").prop('disabled', false)
      .removeClass('btn-outline-secondary')
      .addClass('btn-primary');
  });
</script>

<!-- Script for adding/removing domain selectors-->
<script>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);

    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('<span aria-hidden="true"></span>')
    .find('span')
    .html('<img class="img-fluid" style="width:1rem;height:1rem;" alt="Remove">')
    .find('img').attr('src', "{% static 'dtd_request/icons/svg/minus-white.svg' %}");
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
  }

  $(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'domains');
    return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('domains', $(this));
    console.log('Clicked it!')
    return false;
  });
</script>

<!-- Script for 'Other' Agency Option -->
<script>
  $(function() {
    $("#{{ form.referral_id.auto_id }}").prop('readonly', true).prop('required', false);
    $("#{{ form.referred_agency.auto_id }}").prop('disabled', true).prop('required', false);
  });

  $("#{{ form.client_referred.id_for_label }}").on("click", function () { 
    if ($(this).prop("checked")==true) {
      $("#{{ form.referral_id.id_for_label }}").prop('readonly', false).prop('required', true); 
      $("#{{ form.referred_agency.auto_id }}").prop('disabled', false).prop('required', true);
    } else {
      $("#{{ form.referral_id.id_for_label }}").prop('readonly', true).prop('required', false).val("");
      $("#{{ form.referred_agency.auto_id }}").prop('disabled', true).prop('required', false).val("");
    }
  });

  $('#{{form.referred_agency.auto_id}}').change(function() {    
    var item=$(this);
    var selected = item.val();
    if (selected == 1) {
      $("#otherAgency").removeAttr('hidden').attr('required', true);
    } else {
      $("#otherAgency").removeAttr('required').attr('hidden', true).val("");
    }
  });
</script>

<!-- Script to initialize datepicker fields -->
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker({
        format: 'L'
      });
  });
</script>

{% endblock %}