{% extends "dtd_request/base.html" %}

{% load static %}

{% block title %}Review Call{% endblock %}

{% block content %}

<div class="container p-2 bg-light">
  <div class="row py-2">
    <div class="col-sm-4">
      <dl>
        <dt><h5>Timestamps</h5></dt>
          <dd> - <b>Record Created: </b>{{ call.created_at }}</dd>
          <dd> - <b>Last Updated: </b>{{ call.updated_at }}</dd>
          <dd> - <b>Call Started: </b>{{ call.started_at }}</dd>
          <dd> - <b>Call Ended: </b>{{ call.ended_at }}</dd>
          <dd> - <b>Last Status: </b>{{ call.status.created_at }}</dd>

        <hr>

        <dt><h5>Caller Information</h5></dt>
          <dd> - <b>Name: </b>{{ call.caller_name }}</dd>
          <dd> - <b>Phone Number: </b>{{ call.caller_number }}</dd>
          <dd> - <b>Email Address: </b>{{ call.caller_email }}</dd>
          <dd> - <b>Address: </b>{{ call.caller_address }}</dd>
          <dd> - <b>City/State/Zip: </b>{{ call.caller_city }}/{{ call.caller_state }}/{{ call.caller_zip }}</dd>
          <dd> - <b>Age: </b>{{ call.caller_age }}</dd>
          <dd> - <b>Gender: </b>{{ call.caller_gender }}</dd>
          <dd> - <b>Household Size: </b>{{ call.caller_household_size }}</dd>
      </dl>
    </div>
    <div class="col-sm-4">
      <dd>
        <dt><h5>Call Information</h5></dt>
          <dd> - <b>Type: </b>{{ call.call_type }}</dd>
          <dd> - <b>COVID Related?: </b>{{ call.covid_related }}</dd>
          <dd> - <b>Client Referred?: </b>{{ call.client_referred }}</dd>
          <dd> - <b>Referral ID: </b>{{ call.referral_id }}</dd>
          <dd> - <b>Referred Agency: </b>{{ call.referred_agency }}</dd>
          <dd> - <b>Recorded By: </b>{{ call.operator }}</dd>
          <dd> - <b>Status: </b>{{ call.status }}</dd>
          <dd> - <b>Updated By: </b>{{ call.status.updated_by }}</dd>
          <dd> - <b>Assigned To:</b>{{ call.assigned_to }}</dd>

        <hr>

        <dt><h5>Domains</h5></dt>
          {% for domain in call.domains.all %}
          <dd> - {{ domain }}</dd>
          {% endfor %}
      </dd>
    </div>
    <div class="col-sm-4">
      <dd>
        <dt><h5>Call Notes</h5></dt>
          <dd>{{ call.notes }}</dd>

        <hr>

        <dt><h5>Followup Notes</h5></dt>
          <dd>{{ call.followup_notes }}</dd>
      </dd>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <a class="btn btn-primary" href="{% url 'dtd_calls:call_create' %}">New Call</a>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#review-calls").addClass("active");
  });
</script>

{% endblock %}