{% extends "dtd_request/base.html" %}

{% load static %}

{% block title %}Call List{% endblock %}

{% block content %}

<div class="container p-2">
  <div class="row mb-4 mx-2">
    <div class="col-sm-3"><b>Caller Name</b></div>
    <div class="col-sm-3"><b>Call Recorded</b></div>
    <div class="col-sm-2"><b>Operator</b></div>
    <div class="col-sm-2"><b>Status</b></div>
    <div class="col-sm-2"><b>Assigned To</b></div>
  </div>

  <div id="accordion">
    {% for call in page_obj %}
    <div class="card my-1">
      <div class="card-header" id="heading_{{call.id}}">
        <div class="row position-relative">
          <div class="col-sm-3 position-static">
            <a class="btn btn-link stretched-link" data-toggle="collapse" data-target="#collapse_{{call.id}}" aria-expanded="false" aria-controls="collapse_{{call.id}}">
              {{ call.caller_name }}
            </a>
          </div>
          <div class="col-sm-3">{{ call.created_at }}</div>
          <div class="col-sm-2">{{ call.operator }}</div>
          <div class="col-sm-2">{{ call.status }}</div>
          <div class="col-sm-2">{{ call.assigned_to }}</div>
        </div>
      </div>
      
      <div id="collapse_{{call.id}}" class="collapse" aria-labelledby="heading_{{call.id}}" data-parent="#accordion">
        <div class="card-body">
          <div class="row py-2">
            <div class="col-sm-4">
              <dl>
                <dt><h5>Timestamps</h5></dt>
                  <dd> - <b>Record Created: </b>{{ call.created_at }}</dd>
                  <dd> - <b>Last Updated: </b>{{ call.updated_at }}</dd>
                  <dd> - <b>Call Started: </b>{{ call.started_at }}</dd>
                  <dd> - <b>Call Ended: </b>{{ call.ended_at }}</dd>
                  <dd> - <b>Last Status: </b>{{ call.status.created_at }}</dd>

                <hr>
        
                <dt><h5>Caller Information</h5></dt>
                  <dd> - <b>Name: </b>{{ call.caller_name }}</dd>
                  <dd> - <b>Phone Number: </b>{{ call.caller_number }}</dd>
                  <dd> - <b>Email Address: </b>{{ call.caller_email }}</dd>
                  <dd> - <b>Address: </b>{{ call.caller_address }}</dd>
                  <dd> - <b>City/State/Zip: </b>{{ call.caller_city }}/{{ call.caller_state }}/{{ call.caller_zip }}</dd>
                  <dd> - <b>Age: </b>{{ call.caller_age }}</dd>
                  <dd> - <b>Gender: </b>{{ call.caller_gender }}</dd>
                  <dd> - <b>Household Size: </b>{{ call.caller_household_size }}</dd>
              </dl>
            </div>
            <div class="col-sm-4">
              <dd>
                <dt><h5>Call Information</h5></dt>
                  <dd> - <b>Type: </b>{{ call.call_type }}</dd>
                  <dd> - <b>COVID Related?: </b>{{ call.covid_related }}</dd>
                  <dd> - <b>Client Referred?: </b>{{ call.client_referred }}</dd>
                  <dd> - <b>Referral ID: </b>{{ call.referral_id }}</dd>
                  <dd> - <b>Referred Agency: </b>{{ call.referred_agency }}</dd>
                  <dd> - <b>Recorded By: </b>{{ call.operator }}</dd>
                  <dd> - <b>Status: </b>{{ call.status }}</dd>
                  <dd> - <b>Updated By: </b>{{ call.status.updated_by }}</dd>
                  <dd> - <b>Assigned To: </b>{{ call.assigned_to }}</dd>

                <hr>
        
                <dt><h5>Domains</h5></dt>
                  {% for domain in call.domains.all %}
                  <dd> - {{ domain }}</dd>
                  {% endfor %}
              </dd>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-6 d-flex justify-content-center">
                  <a class="btn btn-primary" href="{% url 'dtd_calls:call_update' call.id %}">Update</a>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                  <a class="btn btn-primary"  href="{% url 'dtd_calls:call_detail' call.id %}">Direct Link</a>
                </div>
              </div>

              <hr>

              <dd>
                <dt><h5>Call Notes</h5></dt>
                  <dd>{{ call.notes }}</dd>

                <hr>

                <dt><h5>Followup Notes</h5></dt>
                  <dd>{{ call.followup_notes }}</dd>
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

<script>
  $(function() {
    $("#review-calls").addClass("active");
  });
</script>

{% endblock %}