{% extends "dtd_request/base.html" %}

{% load static %}

{% block title %}Call Reports{% endblock %}

{% block content %}

<div class="container p-2 bg-light">
  <div class="row">
    <div class="col">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#" id="calls-per-day-report">Calls per Day</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% block report %}{% endblock %}
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#reports").addClass("active");
  });
</script>

{% endblock %}