{% extends 'keepcount/base.html' %}

{% block title %}Registration Submitted{% endblock %}

{% block content %}
<div class="container p-5 bg-light" style="border-radius:32px;">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h1 class="display-1">Congratulations!</h1>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-12 text-center">
      <h4 class="display-4 text-muted">
        To activate your registration and enable login, please check your email and confirm your registration.
      </h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class=" mt-3 col-sm-6 col-xs-10 text-center">
      <a href="{% url 'home' %}" class="text-dark">Back Home</a>
    </div>
  </div>
</div>
{% endblock %}