<!DOCTYPE html>
<html lang="en" style="height:100%;">

{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{% static 'keepcount/css/bootstrap-theme.min.css' %}"> -->

  <!-- Iconic CSS -->
  <link rel="stylesheet" href="{% static 'keepcount/css/open-iconic-bootstrap.min.css' %}">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'keepcount/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'keepcount/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'keepcount/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'keepcount/favicon/site.webmanifest' %}">
  
  <!--Need to load jQuery in the head to support scripting in child templates-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  
  <!-- Title Link Style -->
  <style>
    #title {
      display: inline-block;
      line-height:0.9;
    }

    #title > a > span:nth-child(1) {
      border-bottom: 2px solid #7dffab;
      display:inline-block;
    }

    #title > a > span:nth-child(2) {
      border-bottom: 2px solid #ff8c7d;
      display:inline-block;
    }

    #title > a:hover > span {
      border-bottom: 2px solid white;
    }
  </style>

  <title>{% block title %}{{ APP_TITLE }}{% endblock %}</title>
</head>


<body class="bg-dark d-flex flex-column" style="height:100%;">
  <div style="flex: 1 0 auto;">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center mb-3">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h1 id="title" class="text-white text-center d-flex justify-content-center" >
            <a href="{% url 'home' %}" class="text-white">
              <span>Keep</span><span>Count</span>
            </a>
          </h1>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
  </div>
  

  <footer style="flex-shrink:none;" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; 2020 Eric Burden | <a href="https://www.ericburden.work" class="text-white-50">ericburden.work</a></small>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    // Activate tooltips
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      console.log('Added tooltips!')
    })
  </script>
</body>
</html>