{% extends 'keepcount/base.html' %}

{% load static %}

{% block title %}New Counter{% endblock %}

{% block content %}
<style>
  #adder {
    background-image: url("{% static 'keepcount/img/plus-circle.svg' %}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
  }

  #subtracter {
    background-image: url("{% static 'keepcount/img/minus-circle.svg' %}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
  }

  #adder:hover, #subtracter:hover {
    filter: saturate(80%) brightness(75%) contrast(97%);
  }

  #adder:active {
    background-image: url("{% static 'keepcount/img/plus.svg' %}");
    filter: none;
  }

  #subtracter:active {
    background-image: url("{% static 'keepcount/img/minus.svg' %}");
    filter: none;
  }

  .fit {
    padding: 0px;
  }

  #value_wrap {
    height: 400px;
    font-family: monospace;
  }
</style>

<div class="row d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-12" id="main-col">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <h3>{{ counter.counter_name }}</h3>
        <div class="float-right">
          <a href="{% url 'home' %}" class="btn btn-outline ">
            <img src="{% static 'keepcount/icon/home.svg' %}" alt="Home" class="img-fluid">
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row mb-2" id="value_wrap">
            <div class="col text-center">
              <span class="display-1" style="line-height:1;" id="counter_value">{{ counter.value }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <span class="display-4">Max: {{ counter.max_value }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 my-2" id="adder">
            </div>
            <div class="col-sm-6 my-2" id="subtracter">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Script to handle text resizing -->
<script>
  function updateText() {
    var colWidth = $("#main-col").width();
    var value = +($("#counter_value").text());
    var max_value = +("{{ counter.max_value }}");
    var digits = $("#counter_value").text().length;

    switch(digits) {
      case 1:
        offset = colWidth/8;
        break;
      case 2:
        offset = colWidth/4;
        break;
      case 3:
        offset = colWidth/2;
        break;
      default:
        offset = colWidth/8;
    }

    var fontSize = (colWidth - offset) + "px";
    $("#counter_value").css({'font-size': fontSize})
      .removeClass('text-danger')
      .removeClass('text-warning');

    if (value > max_value) {
      $("#counter_value").addClass('text-danger');
    } else if (value > .9*max_value) {
      $("#counter_value").addClass('text-warning');
    }
  }

  $(window).resize(() => {
    updateText();
  })
</script>

<!-- Script to handle AJAX updating counter values -->
<script>
  function updateCounterValue() {
    $.ajax({
      dataType: "json",
      type: 'GET',
      url: "{% url 'existing_counter_json' counter.counter_name %}",
      success: (data) => {
        $("#counter_value").text(data.value);
        updateText();
      },
      complete: (data) => {
        setTimeout(updateCounterValue, 2000);
      }
    });
  }

  $(() => {
    updateText();
    setTimeout(updateCounterValue, 2000);
  })

  $("#adder").click(() => {
    window.location.href = "{% url 'add_to_counter' counter.counter_name %}";
  })

  $("#subtracter").click(() => {
    window.location.href = "{% url 'subtract_from_counter' counter.counter_name %}";
  })

</script>
{% endblock %}