{% extends 'keepcount/base.html' %}

{% load static %}

{% block title %}New Counter{% endblock %}

{% block content %}
<style>
  #adder {
    background-image: url("{% static 'keepcount/img/plus-circle.svg' %}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
  }

  #subtracter {
    background-image: url("{% static 'keepcount/img/minus-circle.svg' %}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
  }

  #adder:hover, #subtracter:hover {
    filter: saturate(80%) brightness(75%) contrast(97%);
  }

  #adder:active {
    background-image: url("{% static 'keepcount/img/plus.svg' %}");
    filter: none;
  }

  #subtracter:active {
    background-image: url("{% static 'keepcount/img/minus.svg' %}");
    filter: none;
  }

  .fit {
    padding: 0px;
  }

  .counter_svg {
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  }
</style>

<!-- Modal -->
<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Share this Counter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="qr_code" class="d-flex justify-content-center"></div>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-12" id="main-col">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <h2>{{ counter.counter_name }}</h2>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <a 
              href="#" 
              class="btn btn-outline px-1 py-0 mr-2" 
              data-toggle="modal" 
              data-target="#qrModal"
              id="qr_link">
              <img 
                src="{% static 'keepcount/icon/qr.svg' %}" 
                alt="Home" 
                class="img-fluid" 
                style="width:3rem;height:3rem;" 
                id="qr_btn">
            </a>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="container">
          <div class="row mt-0 pt-0">
            <div class="col text-center">
              <span class="lead" style="font-size:3rem;">Current</span>
            </div>
          </div>
          <div class="row mb-2" id="value_wrap">
            <div class="col text-center px-0">
              <svg viewBox="0 0 28 16" class="counter_svg">
                <text 
                  x="50%" y="50%" 
                  text-anchor="middle" 
                  dominant-baseline="middle" 
                  id="counter_value">
                    {{ counter.value }}
                </text>
              </svg>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <span class="lead" style="font-size:3rem;">Max: {{ counter.max_value }}</span>
            </div>
            <div class="col-6 text-right">
              <span class="lead" style="font-size:3rem;">
                Total: <span id="total_value">{{ counter.total }}</span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-6 my-2" id="adder">
            </div>
            <div class="col-6 my-2" id="subtracter">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Script to handle text coloring -->
<script>
  function updateText() {
    var value = +($("#counter_value").text());
    var max_value = +("{{ counter.max_value }}");
    
    $("#counter_value").removeAttr('fill');

    if (value > max_value) {
      $("#counter_value").attr('fill', '#f03800');
    } else if (value > .9*max_value) {
      $("#counter_value").attr('fill', '#e9f000');
    }
  }

  $(window).resize(() => {
    updateText();
  })
</script>

<!-- Script to handle AJAX updating counter values -->
<script>
  function updateCounterValue() {
    $.ajax({
      dataType: "json",
      type: 'GET',
      url: "{% url 'existing_counter_json' counter.counter_name %}",
      success: (data) => {
        $("#counter_value").text(data.value);
        $("#total_value").text(data.total);
        updateText();
      },
      complete: (data) => {
        setTimeout(updateCounterValue, 2000);
      }
    });
  }

  $(() => {
    updateText();
    setTimeout(updateCounterValue, 2000);
  })

  $("#adder").click(() => {
    $.get("{% url 'add_to_counter' counter.counter_name %}", () => {
      updateCounterValue();
    });
    $(this).unbind("mouseenter mouseleave");
  })

  $("#subtracter").click(() => {
    $.get("{% url 'subtract_from_counter' counter.counter_name %}", () => {
      updateCounterValue();
    });
    $(this).unbind("mouseenter mouseleave");
  })

</script>

<!-- Script to display QR code in modal -->
<script src="{% static 'keepcount/js/qrcode.min.js' %}" type="text/javascript"></script>
<script>
  $(() => {
    absoluteURL = new URL("{% url 'existing_counter' counter.counter_name %}", document.baseURI).href;
    new QRCode(document.getElementById("qr_code"), absoluteURL);
  })
</script>
{% endblock %}