{% extends 'keepcount/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-12" id="main-col">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <div class="container">
          <div class="row py-2 mt-5">
            <div class="col text-center">
              <h1 class="display-4">
                Sorry, no counter with that name. Make sure you spelled 
                and capitalized it correctly.
              </h1>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}