{% extends "./base.html" %}

{% block title %}Request Status{% endblock %}

{% block content %}
  <div class="container bg-light mt-5 py-2 px-3">
    {% if request.status %}
      <div class="row py-2">
        <div class="col-sm-12">
          <p class="lead text-center">
            Your request for assistance with <b><em>{{ request.type_of_need }}</em></b>
            is currently:
          </p>
        </div>
        <div class="col-sm-12">
          <p class="display-4 text-center">{{ request.status }}</p></div>
      </div>
      <div class="col-sm-12">
        <p class="lead text-center">
          {% if request.status == "PENDING" %}
            This means it has not yet been picked up by one of our team members for 
            review. Due to the high volume of requests, we ask for you patience as 
            we diligently address each request in the order it is received.
          {% elif request.status == "RECEIVED" %}
            This means one of our team members has received your request and has been
            assigned to review the information you provided. You should expect to hear
            from one of our team members within the next 48 hours.
          {% elif request.status == "REVIEWED" %}
            This means one of our team members has reviewed the information you have 
            provided and is currently researching the best options for agencies to 
            connect you to. Expect to hear from one of our team members within 24
            hours to discuss these options with you.
          {% elif request.status == "CONTACTED" %}
            This means one of our team members has already contacted you regarding this
            request. Our team member is diligently working to finalize the results from 
            your call.
          {% elif request.status == "REFERRED" %}
            This means you have been referred to one of our network of agencies for 
            services. Please be patient as our partner agencies are experiences high
            volumes of requests at this time.
          {% elif request.status == "CLOSED" %}
            This means your request has been closed, either due to connecting you to
            one of our partner agencies or because we could not connect you for some 
            reason. Please feel free to reach out to Driving the Dream if you need 
            additional assistance with this request.
          {% endif %}
        </p>
      </div>
    {% else %}
      <div class="row py-2">
        <div class="col-sm-12">
          <p class="lead text-center">
            We're sorry, we couldn't find a request for primary phone number 
            <b><em>{{ phone }}</em></b> and confirmation code <b><em>{{ code }}</em></b>.
          </p>
          <p class="lead text-center">Please be sure to use the confirmation code and primary phone number
            submitted for your request.
          </p>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock %}