{% extends "./base.html" %}

{% load static %}

{% block title %}Request a Referral{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12 text-justify">
      <p>
        <em>Driving The Dream</em> is an initiative of the United Way of the Mid-South
        which coordinates a network of social service agencies to better meet the 
        needs of individuals throughout Memphis. Please complete the form below to 
        request to be connected to an agency in our network. One of our team members
        will be in touch, using the contact information you provide, to discuss your
        request and connect you to the appropriate agency or organization.
      </p>
    </div>
  </div>

  <form action="{% url 'dtd_request:request' %}" method="post">
    {% csrf_token %}
    <div class="container bg-light mt-5 py-2 px-3">
      <div class="row">
        <div class="col">{{ form.non_field_errors }}</div>
      </div>
      <div class="row" hidden>
        <div class="col">{{ form.confirmation_code }}</div>
      </div>
      <div class="row py-2">
        <div class="col-md-6">
          {{ form.contact.errors }}
          {{ form.contact.label_tag }}
          <input 
            type="text" 
            name="{{ form.contact.name }}"
            id="{{ form.contact.id_for_label  }}"
            class="form-control" 
            placeholder="{{ form.contact.help_text|safe }}" 
            aria-label="{{ form.contact.label }}" 
            aria-describedby="basic-addon2"
            required>
        </div>
        <div class="col-md-6">
          {{ form.email.errors }}
          {{ form.email.label_tag }}
          <input 
            type="text" 
            name="{{ form.email.name }}"
            id="{{ form.email.id_for_label  }}"
            class="form-control" 
            placeholder="{{ form.email.help_text|safe }}" 
            aria-label="{{ form.email.label }}" 
            aria-describedby="basic-addon2"
            required>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-md-6">
          {{ form.primary_phone.errors }}
          {{ form.primary_phone.label_tag }}
          <input 
            type="text" 
            name="{{ form.primary_phone.name }}"
            id="{{ form.primary_phone.id_for_label  }}"
            class="form-control" 
            placeholder="{{ form.primary_phone.help_text|safe }}" 
            aria-label="{{ form.primary_phone.label }}" 
            aria-describedby="basic-addon2"
            required>
        </div>
        <div class="col-md-6">
          {{ form.secondary_phone.errors }}
          {{ form.secondary_phone.label_tag }}
          <input 
            type="text" 
            name="{{ form.secondary_phone.name }}"
            id="{{ form.secondary_phone.id_for_label  }}"
            class="form-control" 
            placeholder="{{ form.secondary_phone.help_text|safe }}" 
            aria-label="{{ form.secondary_phone.label }}" 
            aria-describedby="basic-addon2"s>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-6">
          {{ domains.management_form }}
          {% for form in domains.forms %}
            {% if forloop.first %}
              <div class="row">
                <div class="col-12">
                  <p>Please indicate the type(s) of need you are seeking help with:</p>
                </div>
              </div>
            {% endif %}
            {% for field in form.visible_fields %}
            {% if forloop.first %}{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}{% endif %}
              <div class="row form-row">
                <div class="col-12">
                  <div class="input-group mb-3">
                    {{ field }}
                    <div class="input-group-append">
                      <button class="btn btn-success add-form-row" type="button">
                        <img src="{% static 'dtd_request/icons/svg/plus-white.svg' %}" class="img-fluid" style="width:1rem;height:1rem;" alt="Add">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              {{ form.add_info.errors }}
              {{ form.add_info.label_tag }}
              <textarea  
                  type="textarea" 
                  name="{{ form.add_info.name }}"
                  id="{{ form.add_info.id_for_label }}"
                  class="form-control" 
                  placeholder="{{ form.add_info.help_text|safe }}" 
                  aria-label="{{ form.add_info.label }}" 
                  aria-describedby="basic-addon2"
                  style="height:18vh;"
                  required></textarea>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row justify-content-center mt-4">
        <div class="col-md-12 d-flex justify-content-center">
          <input type="submit" value="Request a Referral" class="btn btn-primary">
        </div>
      </div>
    </div>
  </form>  

  <script>
    function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
          var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var forValue = $(this).attr('for');
          if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
          }
      });
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);

      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span aria-hidden="true"></span>')
      .find('span')
      .html('<img class="img-fluid" style="width:1rem;height:1rem;" alt="Remove">')
      .find('img').attr('src', "{% static 'dtd_request/icons/svg/minus-white.svg' %}");
      return false;
    }

    function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
    }

    $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'domain_set');
      return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('domain_set', $(this));
      console.log('Clicked it!')
      return false;
    });
  </script>

{% endblock %}