{% extends "./base.html" %}

{% load static %}

{% block title %}Referral Requested!{% endblock %}

{% block content %}

<div class="jumbotron text-white bg-primary">
  <h1 class="display-4">Thanks for reaching out!</h1>
  <p class="lead">
    A member of the Driving the Dream team will be reaching out to discuss your
    request with you. 
  </p>
  <hr class="my-4">
  <p>Please copy or write down your confirmation code:</p>
  <p class="text-center">
    <code class="text-light" id="confirmation">{{ code }}</code>
    <button 
      href="#" 
      id="copy-button"
      class="btn btn-link my-2 my-sm-0 ml-2" 
      onclick="copyToClipboard('#confirmation')"
      data-toggle="tooltip"
      data-placement="top"
      title="Copy to Clipboard">
      <img src="{% static 'dtd_request/icons/svg/clipboard-white.svg' %}" class="img-fluid" style="width:1.5em;height:1.3rem;" alt="Copy">
    </button>
  </p>
  <p>
    You can use this code to check on the status of your request using the 'View My Request'
    button in the navigation menu.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>

{% endblock %}