<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load tz %}

{% timezone "America/Chicago" %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Iconic CSS -->
  <link rel="stylesheet" href="{% static 'questgiver/css/open-iconic-bootstrap.min.css' %}">

  <title>{% block title %}Page Title{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'questgiver:index' %}">Memphis | How can I help?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'questgiver:request' %}">Post an Opportunity</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage Requests
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'questgiver:pending' %}">Pending Approval</a>
              <a class="dropdown-item" href="{% url 'questgiver:overdue' %}">Overdue Tasks</a>
              <a class="dropdown-item" href="{% url 'questgiver:abandoned' %}">Abandoned Tasks</a>
              <a class="dropdown-item" href="{% url 'questgiver:completed' %}">Completed Tasks</a>
            </div>
          </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" style="display:none;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Opportunities" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
        <a href="{% url 'questgiver:logout' %}" class="btn btn-danger my-2 my-sm-0 ml-2">
          <img src="{% static 'questgiver/icons/svg/account-logout-white.svg' %}" class="img-fluid" style="width:1.5em;height:1.3rem;" alt="Logout">
        </a>
      {% else %}
        <a href="{% url 'questgiver:login' %}" class="btn btn-primary my-2 my-sm-0 ml-2">
          <img src="{% static 'questgiver/icons/svg/account-login-white.svg' %}" class="img-fluid" style="width:1.5em;height:1.3rem;" alt="Login">
        </a>
      {% endif %}
    </div>
  </nav>
  <div class="container mt-5">
    {% block content %}{% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{% endtimezone %}