{% extends "./base.html" %}

{% block title %}Available Opportunities{% endblock %}

{% block content %}

  <h1 class="display-4">Available Opportunities</h1>

  {% if quest_list %}

    <div class="row mt-5">
      {% for quest in quest_list %}
        <div class="col-md-4">
          <div class="card m-2">
            <h4 class="card-header">
              {{ quest.topic }}
            </h4>
            <div class="card-body">
              <p class="card-text">{{ quest.description|truncatechars:300 }}</p>
            </div>
            <div class="card-footer text-muted">
              <a href="{% url 'questgiver:detail' quest.id %}" class="btn btn-primary">View Opportunity</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  {% else %}
      <h1 class="text-center mt-5">No opportunities available at this time, please check back later.</h1>
  {% endif %}
{% endblock %}