{% extends "./base.html" %}

{% block title %} Pending Opportunities {% endblock %}

{% block content %}

  <h1 class="display-4">Pending Opportunities</h1>

  {% if quest_list %}

    <div class="row mt-5">
      {% for quest in quest_list %}
        <div class="col-md-4">
          <div class="card m-2">
            <h4 class="card-header">
              {{ quest.topic }}
            </h4>
            <div class="card-body">
              <p class="card-text">{{ quest.description|truncatechars:500 }}</p>
            </div>
            <div class="card-footer text-muted">
              <a href="{% url 'questgiver:review' quest.id %}" class="btn btn-primary">Review</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  {% else %}
      <h1 class="text-center mt-5">Nothing here for now.</h1>
  {% endif %}
{% endblock %}